<!DOCTYPE html>
<html>
    <body>
        <% include ../partials/header %>

        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>Search results</h1>
                    <a href="/search" class="btn btn-primary btn-large">Click here to search again</a>
                </div>
            </header>
            <h2>Invalid query. Please type something else.</h2>
        </div>
        
        <% include ../partials/footer %>
    </body>
</html>